@font-face {
  font-family: "vote-iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1707038553973') format('truetype');
}

.vote-icon {
  font-family: "vote-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vote-icon-option-plus:before {
  content: "\e643";
}

.vote-icon-option:before {
  content: "\e641";
}

.vote-icon-plus:before {
  content: "\e63f";
}

